html, body {
  margin: 0;
  padding: 0;
  background: rgb(119, 214, 194);
  font-family: sans-serif;
}

* {
  box-sizing: border-box;
}

.intro {
  max-width: 90%;
  margin: 0 auto;
  text-align: center;
  color: #026c66;
}

a {
  color: #024a6c;
}

a:hover {
  color: #0d5577;
}

h1 {
  font-size: 28px;
  font-family: 'Varela Round', sans-serif;
  text-align: center;
  color: #8f7365;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin: 50px 0 0;
  padding-bottom: 8px;
  background: url("img/bg_titleback_l.svg") calc(50% - 195px) bottom no-repeat, url("img/bg_titleback_r.svg") calc(50% + 195px) bottom no-repeat;
  background-size: 64px 50px;
}

h1::before, h1::after {
  content: '';
  display: block;
  background-image: url("img/bg_title_l.svg");
  background-repeat: no-repeat;
  width: 66px;
  height: 58px;
  position: relative;
  left: 10px;
}

h1::after {
  background-image: url("img/bg_title_r.svg");
  left: auto;
  right: 10px;
}

h1 div {
  background: #feea49;
  height: 58px;
  line-height: 58px;
  position: relative;
  z-index: 10;
  width: 300px;
}

.lang-menu {
  display: flex;
  margin: 30px 0 45px;
  justify-content: center;
}

.lang-menu button {
  border: none;
  background: none;
  font-size: 15px;
  color: #166491;
  padding: 3px 10px;
  margin: 0 10px;
  border-bottom: transparent 3px solid;
}

.lang-menu button.active, .lang-menu button:hover {
  color: #04486f;
  border-bottom: #166491 3px solid;
  transition: color 0.3s, border-color 0.3s;
}

img.island-map {
  height: 30vh;
  border: rgba(255,255,255,0.4) 1px solid;
}

.error-message {
  color: #cc0000;
}

button.link {
  display: inline;
  border: none;
  font-size: 1em;
  padding: 0;
  background: none;
  color: #166491;
  text-decoration: underline;
}

#img-input {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

#img-input + label {
  font-size: 1em;
  background: #2b9ba2;
  color: #eee;
  display: inline-block;
  padding: 5px 20px;
  border-radius: 30px;
  margin: 30px 0 0;
}

#img-input:focus + label,
#img-input + label:hover {
  background-color: #0c8991;
}

#img-input + label {
	cursor: pointer; /* "hand" cursor */
}

#img-input:focus + label {
  outline: none;
  box-shadow: #006567 0 0 0 3px;
}

.or {
  margin: 20px 0;
}

.use-url {
  display: flex;
  justify-content: center;
  align-items: center;
}

.use-url input {
  border: none;
  border-radius: 5px;
  padding: 8px 10px;
  width: 300px;
  margin-left: 5px;
}

.use-url button {
  background: #2b9ba2;
  color: #fff;
  border-radius: 20px;
  border: none;
  padding: 0 12px;
  margin-left: 10px;
  font-size: 1em;
  display: block;
  height: 31px;
  line-height: 31px;
}

.use-url button:focus {
  outline: none;
  box-shadow: #006567 0 0 0 3px;
}

.editor {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 30px;
}

aside.tool-aside {
  width: 210px;
  margin-right: 30px;
}

aside.tool-aside ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

aside.tool-aside .modes {
  background: rgba(255,255,255,0.7);
  border-radius: 20px;
  margin-bottom: 10px;
  padding: 15px;
}

aside.tool-aside .tools {
  background: #63c6b8;
  border-radius: 20px;
  padding: 15px;
}

aside.tool-aside hr {
  border: rgba(255,255,255,0.5) 2px dashed;
  border-radius: 3px;
  margin: 15px 0;
}

aside.tool-aside button {
  display: block;
  width: 50px;
  height: 50px;
  margin: 0 auto;
  padding: 0;
  border-radius: 50%;
  background: #1eafa4;
  color: #fff;
  border: rgba(255,255,255,0.4) 5px solid;
}

aside.tool-aside button:focus {
  outline: none;
  box-shadow: #008a8c 0 0 0 3px;
}

aside.tool-aside button.active, aside.tool-aside button.color.active {
  border-color: #fff;
  box-shadow: none;
}

aside.tool-aside button.mode.active {
  border-color: #008a8c;
  box-shadow: none;
}

aside.tool-aside button img {
  display: block;
  max-width: 25px;
  max-height: 25px;
  margin: 0 auto;
}

aside.tool-aside .menuItems button {
  background: rgba(255,255,255,0.8);
}

aside.tool-aside button.color {
  border: #9adbd6 5px solid;
}

aside.tool-aside button.color img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 50%;
}

aside.tool-aside button.colorCustom {
  background: #b0a07c;
  position: relative;
  overflow: hidden;
}

aside.tool-aside button.colorCustom input {
  position: absolute;
  border: none;
  padding: 0;
  width: 50px;
  height: 50px;
  top: -5px;
  left: -5px;
}

aside.tool-aside button.colorCustom img {
  display: block;
  position: relative;
  max-width: 25px;
  max-height: 25px;
  margin: 0 auto;
}

aside.tool-aside button.building {
  background: #544f40;
}

aside.tool-aside button.item.home {
  background: #f784ae;
}

aside.tool-aside button.item.house {
  background: #f8b616;
}

aside.tool-aside button.bridge {
  background: #77d6c2;
}

aside.tool-aside button.slope {
  background: #468045;
}

aside.tool-aside button.tree {
  background: #00b27a;
}

aside.tool-aside button.tree img {
  width: 20px;
  height: 20px;
}

aside.tool-aside button.flower {
  border: #9adbd6 5px solid;
}

aside.tool-aside button .colorBlock {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #00b27a;
}

aside.sub-aside {
  margin-left: 20px;
}

aside.sub-aside ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

aside.sub-aside ul li {
  margin-bottom: 10px;
}

aside.sub-aside ul button {
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: #fff;
  background: #024a6c;
  border: none;
  padding: 0;
}

aside.sub-aside ul button:hover {
  background: #0d5577;
}

aside.sub-aside ul button:focus {
  outline: none;
  box-shadow: #008a8c 0 0 0 3px;
}

aside.sub-aside ul button img {
  width: 24px;
  height: 24px;
}

canvas {
  display: block;
}

#info-modal {
  display: none;
  position: fixed;
  z-index: 10;
  width: 600px;
  height: 500px;
  margin-top: -250px;
  top: 50vh;
  left: calc(50% - 250px);
  background: #9be7d7;
  padding: 50px;
  color: #026c66;
}

#info-modal h1 {
  margin: 0 0 30px;
}

#info-modal ul li {
  margin-bottom: 5px;
}

#info-modal .close-modal.round {
  position: absolute;
  border: none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  top: -25px;
  right: -25px;
  font-size: 30px;
  background: #af7d4f;
  color: #eee;
}

#info-modal .close-modal.round:focus {
  outline: none;
  box-shadow: #835021 0 0 0 3px;
}

#info-modal .close-modal.btn {
  display: block;
  margin: 50px auto 0;
  background: #2b9ba2;
  color: #fff;
  font-size: 1em;
  border: none;
  padding: 10px 30px;
  border-radius: 30px;
}

#info-modal .close-modal.btn:focus {
  outline: none;
  box-shadow: #008a8c 0 0 0 3px;
}

body.modal-open {
  overflow: hidden;
}

body.modal-open::after {
  content: "";
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 5;
  background-color: rgba(0,0,0,0.7);
}

body.modal-open #info-modal {
  display: block;
}