html, body {
  margin: 0;
  padding: 0;
  background: rgb(119, 214, 194);
}

* {
  box-sizing: border-box;
}

.intro {
  max-width: 90%;
  margin: 0 auto;
  text-align: center;
  color: #026c66;
}

h1 {
  font-size: 28px;
  font-family: 'Varela Round', sans-serif;
  color: #8f7365;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin: 50px 0 0;
  padding-bottom: 8px;
  background: url("img/bg_titleback_l.svg") calc(50% - 195px) bottom no-repeat, url("img/bg_titleback_r.svg") calc(50% + 195px) bottom no-repeat;
  background-size: 64px 50px;
}

h1::before, h1::after {
  content: '';
  display: block;
  background-image: url("img/bg_title_l.svg");
  background-repeat: no-repeat;
  width: 66px;
  height: 58px;
  position: relative;
  left: 10px;
}

h1::after {
  background-image: url("img/bg_title_r.svg");
  left: auto;
  right: 10px;
}

h1 div {
  background: #feea49;
  height: 58px;
  line-height: 58px;
  position: relative;
  z-index: 10;
  width: 300px;
}

h1 + p {
  margin-top: 50px;
}

img.island-map {
  height: 30vh;
  border: rgba(255,255,255,0.4) 1px solid;
}

.error-message {
  color: #cc0000;
}

button.link {
  display: inline;
  border: none;
  font-size: 1em;
  padding: 0;
  background: none;
  color: #166491;
  text-decoration: underline;
}

#img-input {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

#img-input + label {
  font-size: 1em;
  color: #166491;
  background-color: rgba(255,255,255,0.7);
  display: inline-block;
  padding: 5px 20px;
  border-radius: 5px;
  margin: 30px 0 0;
}

#img-input:focus + label,
#img-input + label:hover {
  background-color: rgba(255,255,255,0.9);
}

#img-input + label {
	cursor: pointer; /* "hand" cursor */
}

#img-input:focus + label {
	outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
}

button.btn-upload {
  background: #2b9ba2;
  color: #fff;
  padding: 10px 30px;
  border-radius: 30px;
  border: none;
  font-size: 20px;
  margin: 30px 0;
}

.editor {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 30px;
}

aside {
  width: 210px;
  margin-right: 30px;
}

aside ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

aside .modes {
  background: rgba(255,255,255,0.7);
  border-radius: 20px;
  margin-bottom: 10px;
  padding: 15px;
}

aside .tools {
  background: #63c6b8;
  border-radius: 20px;
  padding: 15px;
}

aside hr {
  border: rgba(255,255,255,0.5) 2px dashed;
  border-radius: 3px;
  margin: 15px 0;
}

aside button {
  display: block;
  width: 50px;
  height: 50px;
  margin: 0 auto;
  padding: 0;
  border-radius: 50%;
  background: #1eafa4;
  color: #fff;
  border: rgba(255,255,255,0.4) 5px solid;
}

aside button:focus {
  outline: none;
  box-shadow: #008a8c 0 0 0 3px;
}

aside button.active, aside button.color.active {
  border-color: #fff;
  box-shadow: none;
}

aside button.mode.active {
  border-color: #008a8c;
  box-shadow: none;
}

aside button img {
  display: block;
  max-width: 25px;
  max-height: 25px;
  margin: 0 auto;
}

aside .menuItems button {
  background: rgba(255,255,255,0.8);
}

aside button.color {
  border: #9adbd6 5px solid;
}

aside button.color img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 50%;
}

aside button.colorCustom {
  background: #b0a07c;
  position: relative;
  overflow: hidden;
}

aside button.colorCustom input {
  position: absolute;
  border: none;
  padding: 0;
  width: 50px;
  height: 50px;
  top: -5px;
  left: -5px;
}

aside button.colorCustom img {
  display: block;
  position: relative;
  max-width: 25px;
  max-height: 25px;
  margin: 0 auto;
}

aside button.building {
  background: #544f40;
}

aside button.item.home {
  background: #f784ae;
}

aside button.item.house {
  background: #f8b616;
}

aside button.bridge {
  background: #77d6c2;
}

aside button.slope {
  background: #468045;
}

aside button.tree {
  background: #00b27a;
}

aside button.tree img {
  width: 20px;
  height: 20px;
}

aside button.flower {
  border: #9adbd6 5px solid;
}

aside button .colorBlock {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #00b27a;
}

canvas {
  display: block;
}